:root {
  --color-white: #fff;
  --color-black: #000;
  --color-purple: #800080;
  --color-blue: #90cee3;
  --color-green: #077c1b;
  --color-yellow: rgb(209 209 28);
  --color-orange: #ffa500;
  --color-red: #dd3c3c;
}
